///
/// Magnetic by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Basic */

	// MSIE: Required for IEMobile.
		@-ms-viewport {
			width: device-width;
		}

	// MSIE: Prevents scrollbar from overlapping content.
		body {
			-ms-overflow-style: scrollbar;
		}

	// Ensures page width is always >=320px.
		@include breakpoint('<=xsmall') {
			html, body {
				min-width: 320px;
			}
		}

	// Set box model to border-box.
	// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
		html {
			box-sizing: border-box;
		}

		*, *:before, *:after {
			box-sizing: inherit;
		}

	body {
		background-color:		_palette(bg-alt);
		background-image:		url('./images/overlay.png'),	url('./../images/bg.jpg');
		background-size:		100px 100px,				100% auto;
		background-repeat:		repeat,						repeat-y;
		background-attachment:	scroll,						scroll;
		background-position:	top left,					center 0px;

		// Stops initial animations until page loads.
			&.is-preload {
				*, *:before, *:after {
					@include vendor('animation', 'none !important');
					@include vendor('transition', 'none !important');
				}
			}

		@include breakpoint('<=medium') {
			background-size:	100px 100px,				200% auto;
		}

		@include breakpoint('<=small') {
			background-image:	none;
		}
	}